<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1><strong>Salty chat analyser</strong></h1>
      <p><em>Door Jerry</em></p>

      <br>
      <input placeholder="Voer hier een woord (of regex (grapje regex werkt nog niet)) in" id="input" style="width: 100%; max-width: 600px">
      <br>
      <label for="relative">Relatief?</label>
      <input name="relative" id="relative" type="checkbox">
      <br>
      <label for="as_word">Als woord?</label>
      <input name="as_word" id="as_word" type="checkbox">

      <br>
      <br>

      <a id="go" href="#">Gaan met die banaan</a>

      <br>

      <h4>Resultaat hokje:</h4>
      <ol id="result" style="border-radius: 5px; min-height: 100px;min-width: 300px; max-width: 600px; background: white; border: 1px solid grey">

      </ol>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  function print_data(data) {
    $result = $('#result');
    $result.empty();

    $.each(data, function(i, output) {
      console.log(output);
      $result.append('<li>' + output.answer + '</li>');
    });
  }

  function get_results(input, relative, as_word) {
    $.ajax({
        type: "GET",
        url: "/result",
        data: {
          "input": input,
          "relative": relative,
          "as_word": as_word
        },
        dataType: 'json',
        success: function(data) {
          print_data(data),
          console.log(data);
        },
        error: function(jqXHR) {
          console.error(jqXHR.responseText);
        }
      });
  }

  $(function() {
    $('#go').click(function() {
      $result = $('#result');
      $result.empty().append("<p>Loading... <span style='font-size: 13px'>DON'T PANIC</span></p>");

      var input = $('#input').val();
      var relative = $('#relative').prop('checked');
      var as_word = $('#as_word').prop('checked');
      get_results(input, relative, as_word);
    });
  });
</script>
<% end %>
